apiVersion: v1
kind: Secret
metadata:
  name: dependency-check-secrets
  namespace: dependency-check
  labels:
    app.kubernetes.io/name: dependency-check
type: Opaque
data:
  # Base64-encoded GitHub Personal Access Token (PAT)
  GITHUB_TOKEN: ""
  # Optional: Base64-encoded NVD API key (leave empty to run in anonymous mode)
  NVD_API_KEY: ""
  # Base64-encoded AWS Access Key ID for SNS alerts
  AWS_ACCESS_KEY_ID: ""
  # Base64-encoded AWS Secret Access Key for SNS alerts
  AWS_SECRET_ACCESS_KEY: ""
  # Optional: Base64-encoded MongoDB Connection URI
  # Example base64 of 'mongodb://mongo:password@polodev.cloud:27017/dependency-check?authSource=admin'
  MONGO_URI: ""
